<form action="/skills" method="POST">
  <p>Enter Your New, Awesome, Sweet Skill:</p>
  <input type="text" name="skill[name]" placeholder="Skill name"/><br>
  <textarea name="skill[description]" placeholder="Skill description"></textarea><br>
  <input type="submit"/>
</form>



